django >= 1.10, < 1.11
wagtail < 2.0
wagtailmenus
django-redis
hiredis
django-storages
django-health-check
django-debug-toolbar
django-compressor
django-libsass
django-markdown-deux
django-gravatar2
pillow
scipy
boto3
html5lib
lxml
requests
arrow
python-dotenv
cloudflare
