@import url('https://fonts.googleapis.com/css?family=Alegreya Sans');
@import url('https://fonts.googleapis.com/css?family=Libre Franklin');

.blog-box {
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding: 10px 0;

    >footer, .footer {
        margin-bottom: -10px;
    }

    @media(max-width: $screen-sm-max) {
        box-shadow: none;
    }
}

.blog-post {
    header, section {
        max-width: 700px;
        margin: auto;
        margin-bottom: 1em;
        padding: 0 10px;

        font-family: "Alegreya Sans", "Comic Sans", "Comic Sans MS", monospace;
        font-size: 21px;
        font-weight: 400;
        line-height: 1.45;
        letter-spacing: -0.002em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        word-break: break-word;
        word-wrap: break-word;

        h1, h2, h3, h4, h5, h6 {
            font-family: "Libre Franklin", sans-serif;
        }

        h1 { font-size: 2em; }
        h2 { font-size: 1.75em; }
        h3 { font-size: 1.6em; }
        h3 { font-size: 1.5em; }

        p {
            margin-bottom: 1.5em;
            &:last-child { margin-bottom: 0; }
        }

        &.post-cover {
            max-width: 1000px;
        }

        &.post-cover, &.block-image, &.block-embed {
            padding: 0.5em 0;
            text-align: center;
        }

        .responsive-object {
            position: relative;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }

            >* {
                margin: 0 auto;
            }
        }

        @media(max-width: $screen-md-max) {
            box-shadow: none;
            padding-left: 0;
            padding-right: 0;
        }
    }

    footer, .footer {
        display: block;
        background: #f4f4f4;
        padding: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    &.blog-post-small {
        .post-cover {
            padding: 0;

            img {
                max-height: 100%;
                max-width: 100%;
            }

            div {
                max-width: 500px;
                max-height: 300px;
                margin: auto;

                .embed-thumbnail {
                    height: 0;
                    padding-top: 300px / 500px * 100%;
                    background-size: 100% auto;
                    background-position: center;
                }
            }
        }
        header, section {
            font-size: 16px;
            padding: 0 10px;

            @media(max-width: $screen-sm-max) {
                padding: 0;
            }
        }
        .blog-item-posted {
            color: #777;
            font-size: 0.8em;
            float: right;
        }
        .read-more {
            color: #666;

            &:hover {
                text-decoration: none;
                background-color: #ddd;
            }
        }
    }
}

.blog-page {
    padding-bottom: 1em;
}

.blog-author {
    @include clearfix();

    padding: 10px;

    @media(max-width: $screen-sm-max) {
        padding: 0;
    }

    .blog-author-avatar {
        float: left;

        img {
            height: 100px;
            width: 100px;
            margin: auto;
        }
    }

    .blog-author-info {
        overflow: hidden;
        padding-left: 20px;
        padding-bottom: 10px;

        h3 {
            margin-top: 0;
        }
    }
}
