.theme-background {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
    background-size: 100%;

    @media(max-width: $screen-md-max) {
        background-image: none;
    }
}

.site-header {
    .logo {
        text-align: center;

        img {
            max-width: 100%;
            max-height: 225px;
            margin: 20px 0;
        }
    }

    .menu {
        background-color: rgba(0,0,0,0.8);

        .nav {
            float: left;
        }
        .social {
            float: right;
        }

        .pure-menu-link {
            padding: 10px 10px;
            color: #eee;

            &:hover {
                background-color: rgba(0,0,0,0.5);
                text-decoration: none;
            }

            svg {
                height: 1em;
                display: inline-block;
                vertical-align: middle;

                path {
                    fill: #eee;
                }
            }

            .fa {
                vertical-align: middle;
            }
        }
        >.pure-menu-item .pure-menu-link {
            &:first-child { padding-left: 0; }
            &:last-child { padding-right: 0; }
        }

        .pure-menu-children {
            background-color: rgba(0,0,0,0.8);
            width: 100%;
        }
    }
}
