.theme-background {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
    background-size: 100%;

    @media(max-width: $screen-md-max) {
        background-image: none;
    }
}

.site-header {
    .logo {
        text-align: center;

        img {
            max-width: 100%;
            max-height: 225px;
            margin: 20px 0;
        }
    }

    .menu {
        background-color: rgba(0,0,0,0.8);

        .nav {
            float: left;

            // This is basically a hack to undo pure-menu-horizontal on small screens.
            @media(max-width: $screen-md-max) {
                float: none;

                .pure-menu-horizontal {
                    width: 100%;
                    white-space: inherit;

                    .pure-menu-list {
                        display: block;
                    }

                    .pure-menu-item, .pure-menu-heading, .pure-menu-separator {
                        display: inherit;
                        zoom: inherit;
                        vertical-align: inherit;
                    }

                    .pure-menu-has-children > .pure-menu-link:after {
                        content: "\25B8";
                    }

                    .pure-menu-children {
                        left: 100%;
                        top: 0;
                        width: 100%;
                    }

                    .pure-menu-separator {
                        height: 1px;
                    }
                }
            }
        }
        .toggle {
            display: none;
        }
        .social {
            float: right;
        }

        @media(max-width: $screen-md-max) {
            .nav {
                display: none;
            }
            .toggle {
                display: block;
                overflow: hidden;
                width: auto;
            }
        }

        .pure-menu-link {
            padding: 10px 10px;
            color: #eee;

            &:focus {
                background-color: inherit;
                text-decoration: none;
            }

            svg {
                height: 1em;
                display: inline-block;
                vertical-align: middle;

                path {
                    fill: #eee;
                }
            }

            .fa {
                vertical-align: middle;
            }
        }
        >.pure-menu-item .pure-menu-link {
            &:first-child { padding-left: 0; }
            &:last-child { padding-right: 0; }
        }

        .pure-menu-link:hover, .pure-menu-selected > .pure-menu-link {
            background-color: rgba(0,0,0,0.5);
            text-decoration: none;
        }

        .pure-menu-children {
            background-color: rgba(0,0,0,0.8);
            width: 100%;
        }
    }
}
