.next-page {
    display: block;
    padding: 15px 0;
    color: #fff;
    text-shadow: 0 0 3px #000;
    background-color: rgba(0,0,0,0.1);
    text-align: center;
    font-size: 15pt;
    font-weight: bold;

    &:hover, &:active {
        color: #fff;
        background-color: rgba(0,0,0,0.25);
        text-decoration: none;
    }
}
