{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags markdown_deux_tags humanize %}

{% block content %}
<div class="container">
    <div class="masonry">
        {% for post in blog_entries %}
        <div class="masonry-block">
            <article class="blog-box blog-post blog-post-small" itemscope itemtype="http://schema.org/Article">
                <header>
                    <h3 itemprop="name headline"><a itemprop="url" href="{% pageurl post %}">{{ post.title }}</a></h3>
                </header>
                <section class="post-cover">
                    <a href="{% pageurl post %}">
                    {% if post.cover_image %}
                        {% image post.cover_image max-500x300 itemprop="image" %}
                    {% elif post.cover_embed %}
                        {% with thumbnail_url=post.get_cover_embed_thumbnail_url %}
                        <div><div class="embed-thumbnail" style="background-image: url({{ thumbnail_url }});"></div></div>
                        <meta itemprop="image" content="{{ thumbnail_url }}" />
                        {% endwith %}
                    {% endif %}
                    </a>
                </section>
                <section class="blog-item-excerpt" itemprop="articleBody">
                    {{ post.get_excerpt|markdown }}
                </section>
                <a href="{% pageurl post %}" class="read-more footer">
                    Read more
                    <span class="blog-item-posted" itemprop="datePublished" datetime="{{ post.published|date:'c' }}"><i class="fa fa-calendar"></i> {{ post.published|naturalday }}</span>
                </a>
                <meta itemprop="author" content="{{ post.author.username }}" />
            </article>
        </div>
        {% endfor %}
    </div>

    <nav aria-label="...">
        <ul class="pager">
            {% if blog_entries.has_previous %}
            <li><a href="?page={{ blog_entries.previous_page_number }}">
            {% else %}
            <li class="disabled"><a>
            {% endif %}
                <span aria-hidden="true">&larr;</span>&nbsp;Previous
            </a></li>
            {% if blog_entries.has_next %}
            <li><a href="?page={{ blog_entries.next_page_number }}">
            {% else %}
            <li class="disabled"><a>
            {% endif %}
                Next&nbsp;<span aria-hidden="true">&rarr;</span>
            </a></li>
        </ul>
    </nav>
</div>
{% endblock %}
