{% extends "base.html" %}
{% load kakera_tags wagtailcore_tags wagtailimages_tags wagtailembeds_tags markdown_deux_tags gravatar humanize %}

{% block og_extra %}
    <meta name="og:rich_attachment" content="true" />

    <meta name="twitter:creator" content="@{{ page.author.twitter }}" />

    {% if page.cover_image %}
        {% image page.cover_image original as cover_image %}
        <meta name="og:image" content="{% absolute_media_url cover_image.url %}" />
        <meta name="og:image:width" content="{{ cover_image.width }}" />
        <meta name="og:image:height" content="{{ cover_image.height }}" />
    {% endif %}
    {% if page.cover_embed %}
    {% with embed=page.get_embed %}
        {% if not page.cover_image %}
            <meta name="og:image" content="{% absolute_media_url embed.thumbnail_url %}" />
        {% endif %}

        <meta name="og:video" content="{{ embed.url|force_https }}" />
        <meta name="og:video:secure_url" content="{{ embed.url|force_https }}" />
        <meta name="og:video:width" content="{{ embed.width }}" />
        <meta name="og:video:height" content="{{ embed.height }}" />

        <meta name="twitter:player" content="{{ embed.url|force_https }}" />
        <meta name="twitter:player:width" content="{{ embed.width }}" />
        <meta name="twitter:player:height" content="{{ embed.height }}" />
    {% endwith %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <article class="blog-box blog-post">
        <header>
            <h1 class="post-title">{{ page.title }}</h1>
        </header>

        {% if page.cover_embed %}
        <section class="block-embed post-cover">
            {{ page.get_cover_embed_html|safe }}
        </section>
        {% elif page.cover_image %}
        <section class="block-image post-cover">
            {% image page.cover_image original %}
        </section>
        {% endif %}

        {% for block in page.body %}
        <section class="block-{{ block.block_type }}">
            {% include_block block %}
        </section>
        {% endfor %}

        <footer>
            <span class="post-published">
                <i class="fa fa-clock-o"></i> <abbr title="{{ page.published }}">{{ page.published|naturaltime }}</abbr>
            </span>
            <span class="post-tags">
                {% for tag in page.tags.all %}
                    {% if forloop.first %}<i class="fa fa-tags"></i>{% endif %}
                    {{ tag }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </span>
        </footer>
    </article>

    <div class="blog-box blog-author">
        <div class="blog-author-avatar">
            <img src="{% gravatar_url page.author.email 200 %}" />
        </div>
        <div class="blog-author-info">
            <h3>{{ page.author.get_username }}</h3>
            <div>{{ page.author.bio|markdown }}</div>
            <div class="links">
                {% if page.author.twitter %}<a href="https://twitter.com/{{ page.author.twitter }}">@{{ page.author.twitter }}</a>{% endif %}
            </div>
        </div>
    </div>

    <div class="blog-box blog-comments">
    </div>
</div>
{% endblock %}
