{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags markdown_deux_tags humanize %}

{% block content %}
<div class="container">
    {% for post in blog_entries %}
    <div class="col-sm-6 col-md-4">
        <article class="blog-box blog-post blog-post-small">
            <header>
                <h3><a href="{% pageurl post %}">{{ post.title }}</a></h3>
            </header>
            <section class="post-cover">
                <a href="{% pageurl post %}">
                {% if post.cover_image %}
                    {% image post.cover_image fill-500x300 %}
                {% elif post.cover_embed %}
                    <div><div class="embed-thumbnail" style="background-image: url({{ post.get_cover_embed_thumbnail_url }});"></div></div>
                {% endif %}
                </a>
            </section>
            <section class="blog-item-excerpt">
                {{ post.get_excerpt|markdown }}
            </section>
            <a href="{% pageurl post %}" class="read-more footer">
                Read more
                <span class="blog-item-posted"><i class="fa fa-clock-o"></i> {{ post.published|naturalday }}</span>
            </a>
        </article>
    </div>
    {% endfor %}
</div>
{% endblock %}
