{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

{% block content %}
<div class="container">
    <article class="blog-box blog-post blog-page">
        <header>
            <h1 class="post-title">{{ page.title }}</h1>
        </header>

        {% if page.cover_image %}
        <section class="post-cover">
            {% image page.cover_image original %}
        </section>
        {% endif %}

        {% for block in page.body %}
        <section class="block-{{ block.block_type }}">
            {% include_block block %}
        </section>
        {% endfor %}
    </article>
</div>
{% endblock %}
