{% load kakera_tags wagtailcore_tags %}

<div role="navigation" class="pure-menu pure-menu-horizontal pull-left">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a class="pure-menu-link" href="{% pageurl request.site.root_page %}">Home</a></li>
        {% for item in menu_items %}
        <li class="pure-menu-item{% if item.show_dropdown %} pure-menu-has-children pure-menu-allow-hover{% endif %}{% if item.active %} pure-menu-selected{% endif %}">
            <a class="pure-menu-link" href="{% pageurl item %}">{{ item.title }}</a>
            {% if item.show_dropdown %}{% top_menu_children parent=item calling_page=calling_page %}{% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
